html, body {
  width: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

#curriculo {
  border-radius: 10pt;
  background-color: rgb(103, 50, 189);
  color: white;
  padding: 6%;
  font-weight: bold;
}

#github {
  border-radius: 10pt;
  background-color: rgb(73, 73, 73);
  color: white;
  padding: 6%;
  font-weight: bold;
}

#linkedin {
  border-radius: 10pt;
  background-color: rgb(29, 127, 219);
  color: white;
  padding: 6%;
  font-weight: bold;
}

#foto_perfil {
  border-radius: 50%;
}

#setas {
  background-color: rgb(103, 50, 189);
  color: white;
  padding: 8% 6%;
  border-radius: 50%;
  font-weight: bolder;
  position: relative;
  top: -10%;
  left: 70%;
  font-size:x-large;
}

.habilidades {
  /* color: rgb(73, 8, 148); */
  padding: 3% 5%;
  border-radius: 25pt;
  /* background-color: rgba(163, 124, 182, 0.3); */
}

.ping {
  background-color: blue;
  border-radius: 50%;
}